.projetos__link--rep{
    gap: 10px;
    padding: 16px;
    border: 1px solid #abacfa;
    color: #abacfa;
    border-radius: 8px;
    font-size: 1rem;
    
}

.projetos__link--rep:hover{
    color: blueviolet;
    transition: 0.3s;


}

.projetos__link--demo{
    gap: 10px;
    padding: 16px;
    border: 1px solid #abacfa;
    color: #fff;
    border-radius: 8px;
    margin-left: 8px;
    font-size: 1rem;
    background-color: #abacfa;
}

.projetos__link--demo:hover{
    color: blueviolet;
    transition: 0.3s;


}