.projetos{
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    justify-content: center;
}

.projetos img{
    border-radius: 12px;
    box-shadow: 1px 2px 5px #8a8a8a;
}

@media screen and (min-width: 0px ) and (max-width: 1075px){
    .projetos{
        flex-direction: column;
        padding-bottom: 48px;
    }
    .projetos img{
        width: 100%;
    }
}