.sobre__texto{
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 16px;
    line-height: 22px;

}


@media screen and (min-width: 0px ) and (max-width: 1075px){

    .sobre__texto{
        font-size: 0.875rem;
        
    }

}