.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}