.formacao__titulo{
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    padding-top: 108px;
    padding-bottom: 32px;
    background: #abacfa;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 0px ) and (max-width: 767px){

    .formacao__titulo{
        font-size: 1.375rem;
        text-align: center;
    }
}